@using SomethingHere.DataAccess
<div class="title_box">Categories</div>
<ul class="left_menu">
    @foreach (Category item in ViewBag.List)
    {
        if (item.CategoryID % 2 == 0)
        {
            <li class="even"><a href="#">@item.CategoryName</a></li>
        }
        else
        {
            <li class="odd"><a href="#">@item.CategoryName</a></li>
        }
    }
</ul>
